<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>


<article class="info container">
    <h2>Sobre mí</h2>
    <p>Soy Erik González, tengo 22 años, soy de Empalme, Son. Ingeniero en software, actualmente enfocandome en aprender sobre frontend y backend. Uno de mis pasatiempos es dibujar en digital.</p>
    <ul>
        <li><a href="https://www.instagram.com/eriezly/" target="_blank">My Instagram</a></li>
        <li>🍄 22 🇲🇽.</li>
        <li>🍄 Hobbyist artist.</li>
        <li>🍄 Paint Tool SAI 2.</li>
        <li>🍄 My style changes a lot.</li>

    </ul>

</article>