<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dicta eius distinctio adipisci quod deserunt voluptatum assumenda consectetur sit! Nobis, assumenda et! Voluptatibus, cum quaerat inventore incidunt, voluptatum reprehenderit earum eum voluptates possimus, cumque velit dolore quisquam! In consectetur dolorum, aperiam exercitationem modi facere accusamus laborum itaque voluptatibus ipsum inventore.</p>
</article>